<% if question.kind == 0 %>
  Espelho de resposta
<% elsif question.kind == 1 %>
  Alternativas:
  <%= turbo_frame_tag "question_#{question.id}_alternatives" do %>
  <ul>
  <% question.question_alternatives.each do |a| %>
    <div>
      <%= turbo_frame_tag a do %>
        <%= render "question_alternatives/inline_edit", question_alternative: a %>
      <% end %>
    </div>
  <% end %>
  </ul>
  <% end %>

  <div class="card__buttons">
    <%= link_to "Nova alternativa", new_question_question_alternative_path(question), class: "button button--blue", data: { turbo_method: :post } %>
  </div>
<% else %>
  Anexos
<% end %>
