<h1>Editing question</h1>

<%= render "form", question: @question %>

<br>

<div style="display: flex">
  <%= button_to "Voltar", questions_path, method: :get, class: 'button button--blue' %>
  <%= button_to "Excluir", @question, method: :delete, class: 'button button--red' %>
</div>
