<div id="<%= dom_id question_alternative %>">
  <p>
    <strong>Body:</strong>
    <%= question_alternative.body %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= question_alternative.question_id %>
  </p>

  <p>
    <strong>Correct:</strong>
    <%= question_alternative.correct %>
  </p>

</div>
