<h1>Editing question alternative</h1>

<%= render "form", question_alternative: @question_alternative %>

<br>

<div>
  <%= link_to "Show this question alternative", @question_alternative %> |
  <%= link_to "Back to question alternatives", question_alternatives_path %>
</div>
