<main>
  <section class="section">
    <h1 class="section__title">Funcionalidades</h1>

    <div class="section__cards">
      <%= render "partials/new_circuit_card" %>
      <%= render "partials/view_circuits_card" %>
      <%= render "partials/new_station_card" %>
      <%= render "partials/view_stations_card" %>
    </div>
  </section>
</main>
