<main>
  <section class="section">
    <h1 class="section__title">Funcionalidades</h1>

    <div class="section__cards">
    <% 6.times.each do %>
    <%= render "partials/card", 
        title: "Cadastre situações problema", 
        iconName: "add",
        content: "Cadastre novos circuitos para serem aplicados a partir do zero e/ou reaproveitando as estações previamente criadas"
    %>
    <% end %>
    </div>
  </section>
</main>
