<div id="<%= dom_id circuit_application %>">
  <p>
    <strong>Circuit:</strong>
    <%= circuit_application.circuit_id %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= circuit_application.link %>
  </p>

</div>
