<%= form_with model: CircuitApplication.new, url: create_application_path(circuit), class: "container__form" do |f| %>
  <div class="field">
    <%= f.label :description, "Descrição", class: "field__label" %>
    <%= f.text_field :description, class: "field__input" %>
    <%= f.submit "Criar", class: 'button button--blue' %>
  </div>
<% end %>
