<h1>Editing circuit application</h1>

<%= render "form", circuit_application: @circuit_application %>

<br>

<div>
  <%= link_to "Show this circuit application", @circuit_application %> |
  <%= link_to "Back to circuit applications", circuit_applications_path %>
</div>
