<section class="section">
  <h1 class="section__title">Lista de aplicações</h1>

  <div id="new_form">
    <%= render "new_circuit_application_form", circuit: @circuit %>
  </div>

  <%= render "circuit_application_list", circuit_applications: @circuit_applications %>

  <div class="buttons-container">
    <%= link_to "Voltar", circuits_path, class: "button button--blue" %>
  </div>
</section>

