<article class="card-station">
    <header class="card-station__header">
        <h4 class="card-station__title">Título<h4>
        <h6 class="card-station__count">Estações: 5</h6>
    </header>
    <main class="card-station__content">
        <p>
            Trecho do texto de contextualização especificado nesta situação problema para permitir que o usuário entenda do que se trata sem necessitar clicar
        </p>
    </main>
    <footer class="card-station__footer">
        <span class="card-station__last-update">
            Última atualização 20/04/2021
        </span>
        <div class="buttons-container">
                <button class="button button--outlined-red">Remover</button>
                <button class="button button--blue">Acessar</button>
        </div>
    </footer>
</article>