<div class="card card--small">
  <div class="card__icon material-symbols-outlined">
    whatshot
  </div>

  <div class="card__content">
    <h1 class="card__title">Dificuldade</h1>

    <div style="display: flex; justify-content: space-between; width: 340px; align-items: center">
      <div class="card__button card__button--blue">
        <span>1</span>
      </div>

      <div class="card__button card__button--navy">
        <span>2</span>
      </div>

      <div class="card__button card__button--yellow">
        <span>3</span>
      </div>

      <div class="card__button card__button--gold">
        <span>4</span>
      </div>

      <div class="card__button card__button--red">
        <span>5</span>
      </div>
    </div>
  </div>
</div>
