
<% if false %>
<%= form_with(model: station) do |form| %>
  <% if station.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
        <% station.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<% end %>

