<section class="container__section" id="questions">
    <h2 class="container__section__title">Perguntas</h2>
    <%= render "stations/questions", station: station %>
    <div class="buttons-container">
        <%= link_to "Nova pergunta", new_station_question_path(station), class: "button button--blue", data: {turbo_method: :post} %>
        <!-- <button class="button button--outlined-blue">Buscar pergunta</button> -->
    </div>

</section> 

