<div class="card card--small">
  <div class="card__icon material-symbols-outlined">
    show_chart
  </div>

  <div class="card__content">
    <h1 class="card__title">Pontuação</h1>
    <%= render "partials/number_field", model: station, field: :score %>
  </div>
</div>

