<div class="card card--small">
  <div class="card__icon material-symbols-outlined">
    timer
  </div>

  <div class="card__content">
    <h1 class="card__title">Tempo (minutos)</h1>
    <%= render "partials/number_field", model: station, field: :time %>
  </div>
</div>

