<section class="section">
  <%= render "form", station: @station %>

  <%= button_to 'Voltar', stations_path, method: :get, class: 'button button--blue' %>
  <%= button_to 'Excluir', @station, method: :delete, class: 'button button--red' %>
</section>

