<h1>Editing attachment answer</h1>

<%= render "form", attachment_answer: @attachment_answer %>

<br>

<div>
  <%= link_to "Show this attachment answer", @attachment_answer %> |
  <%= link_to "Back to attachment answers", attachment_answers_path %>
</div>
