<nav>
    <h5 class="header-title">AVSS</h5>
    <ul class="nav-list">
        <li>Início</li>
        <li>Funcionalidades</li>
        <li>Sobre nós</li>
        <li>Cadastre-se</li>
    </ul>
    <div class="buttons-container">
        <button type="button" class="avaliacao">Avaliação</button>
        <button type="button" class="entrar">Entrar</button>
    </div>
</nav>