<div class="list-card">
    <div class="list-card__header">
        <h4><%= title %></h4>
        <span>Estações: 5</span>
    </div>
    <p class="list-card__text">
        <%= resume %>
    </p>
    <div class="list-card__footer">
        <span class="list-card__footer__update">Última atualização 20/04/2021</span>
        <div class="list-card__buttons">
            <button type="button">Aplicar</button>
            <button type="button">Acessar</button>
        </div>
    </div>
</div>