<div class="list-card">
    <div class="list-card__header">
        <h4>Titulo Situação Problema</h4>
        <span>Estações: 5</span>
    </div>
    <p class="list-card__text">
        Trecho do texto de contextualização especificado nesta situação problema para permitir que o usuário entenda do que se trata sem necessitar clicar
    </p>
    <div class="list-card__footer">
        <span class="list-card__footer__update">Última atualização 20/04/2021</span>
        <div class="list-card__buttons">
            <button type="button">Aplicar</button>
            <button type="button">Acessar</button>
        <div>
    </div>
<div>