<nav class="header__navbar">
    <h5 class="header__title">AVSS</h5>
    <ul class="header__navbar__items">
        <li>Início</li>
        <li>Funcionalidades</li>
        <li>Sobre nós</li>
        <li>Cadastre-se</li>
    </ul>
    <div class="header__buttons-container">
        <button type="button" class="button button--blue">Avaliação</button>
        <button type="button" class="button button--green">Entrar</button>
    </div>
</nav>