<div id="<%= dom_id objective_answer %>">
  <p>
    <strong>Question alternative:</strong>
    <%= objective_answer.question_alternative_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= objective_answer.question_id %>
  </p>

  <p>
    <strong>Station submission:</strong>
    <%= objective_answer.station_submission_id %>
  </p>

</div>
