<h1>Editing objective answer</h1>

<%= render "form", objective_answer: @objective_answer %>

<br>

<div>
  <%= link_to "Show this objective answer", @objective_answer %> |
  <%= link_to "Back to objective answers", objective_answers_path %>
</div>
