<div class="container">
    <div class="card-container">
        <span class="material-symbols-outlined card-icon">
            add
        </span>
        <div class="card-content">
            <h4 class="card-title">Cadastre situações problema</h4>
            <p>
                Cadastre novos circuitos para serem aplicados a partir do zero e/ou reaproveitando as estações previamente criadas
            </p>
        </div>
    </div>
</div>