<div class="small-card">
  <div class="small-card__icon">
    <%= icon %>
  </div>

  <div class="small-card__content">
    <h1 class="small-card__content-title">
      <%= title %>
    </h1>

    <p class="small-card__content-body">
      <%= body %>
    </p>
  </div>
</div>
