<header class="home-header">
   <%= render "header-menu" %>
    <%= image_tag "avss-logo.svg" %>
</header>
<main class="home-content">
    <h1>
        Funcionalidades
    </h1>
    <div>
    
    </div>
</main>
<footer>

</footer>