<section class="container__section" id="questions">
    <h2 class="container__section__title">Perguntas</h2>
    <%= render "stations/questions", station: station %>
    <div class="buttons-container">
    </div>

</section> 

