<div id="<%= dom_id station_submission %>">
  <p>
    <strong>Circuit submission:</strong>
    <%= station_submission.circuit_submission_id %>
  </p>

  <p>
    <strong>Station:</strong>
    <%= station_submission.station_id %>
  </p>

</div>
