<h1>Editing circuit submission</h1>

<%= render "form", circuit_submission: @circuit_submission %>

<br>

<div>
  <%= link_to "Show this circuit submission", @circuit_submission %> |
  <%= link_to "Back to circuit submissions", circuit_submissions_path %>
</div>
