<div id="<%= dom_id discursive_answer %>">
  <p>
    <strong>Question:</strong>
    <%= discursive_answer.question_id %>
  </p>

  <p>
    <strong>Station submission:</strong>
    <%= discursive_answer.station_submission_id %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= discursive_answer.body %>
  </p>

</div>
