<h1>Editing discursive answer</h1>

<%= render "form", discursive_answer: @discursive_answer %>

<br>

<div>
  <%= link_to "Show this discursive answer", @discursive_answer %> |
  <%= link_to "Back to discursive answers", discursive_answers_path %>
</div>
