.circuits__filter {
    display: flex;
    background-color: cornsilk;
}

.circuits__filter,
.circuits__list {
    width: 80%;
}

.circuits__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
