* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    font-family: 'Cabin', sans-serif;
}

body {
    background-color: #EAF3F5;
} 

ul {
    list-style: none;
}

.container {
    display: grid;
    place-items: center;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}

.form-wrapper {
    width: 65%;
    background-color: #FFFFFF;
    padding: 1.5rem;
    padding-bottom: 2rem;
    border-radius: .5rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem 1.5rem;
}


.field {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1.25rem;
}

.field__input {
    width: 100%;
    border-radius: .25rem;
    background-color: #FFFFFF;
    border: 1px solid rgba(71, 74, 79, .5);
    padding: .5rem 0 .5rem 1rem;
    font-size: 1rem;
}

textarea.field_input {
    resize: vertical;
}

.field__label {
    color: #474A4F;
}

.field__input::placeholder {
    color: rgba(71, 74, 79, .5);
}

.field_input:focus, 
.field_input:focus-visible {
    outline: 1px solid #83BEDF;
}
