.header {
    width: 100%;
    padding: 2rem;
    background-color: #83BEDF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header--mobile {
    display: none;
}

.header__logo {
    width: 20rem;
    height: 20rem;
    padding: 1.5rem 0;
    align-self: center;
}

@media (max-width: 768px) {
    .header {
        padding: 1.5rem;
    }
    
    .header__logo {
        display: none;
    }
}

