.header {
    width: 100%;
    padding: 2rem;
    background-color: #83BEDF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header--mobile {
    display: none;
}

.header__text-content {
    text-align: center;
    padding: 1.5rem 2rem;
    width: 60%;
    margin: 0 auto;
}

.header__text-content__title {
    margin: 1rem 0;
    color: #5065A8;
}

.header__text-content__body {
    color: #EAF3F5;
    font-weight: bolder;
}

@media (max-width: 768px) {
    .header {
        padding: 1.5rem;
    }
}

