.header {
    width: 100%;
    padding: 2rem;
    background-color: #83BEDF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__title {
    font-size: 1.5rem;
}

.header__logo {
    width: 20rem;
    height: 20rem;
    padding: 1.5rem 0;
    align-self: center;
}

.header__navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__navbar__items {
    display: flex;
    gap: 2rem;
}

.header__buttons-container {
    display: flex;
}

.header__buttons-container .button--green {
    margin-left: 1.5rem;
}

.home-content {
    padding: 2rem;
    width: 100%;
}

.home-content__section {
    display: grid;
    place-items: center;
}

.home-content__section__cards {
    margin-top: 2.5rem;
    gap: 2rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.--with-mt {
    margin-top: 2.5rem;
}

.header--mobile {
    display: none;
}

@media screen and (max-width: 1000px) {
    .home-content__section__cards {
        width: 100%;
        flex-wrap: wrap;
    }

    .header, .header nav {
        display: none;
    }

    .header--mobile {
        background-color: #83BEDF;
        padding: 1rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__icon--mobile {
        font-size: 32px;
    }
}