* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    font-family: 'Cabin', sans-serif;
}

body {
    background-color: #EAF3F5;
} 

ul {
    list-style: none;
}

.home-header {
    width: 100%;
    padding: 2rem;
    background-color: #83BEDF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-title {
    font-size: 1.5rem;
}

.home-header img {
    width: 20rem;
    height: 20rem;
    padding: 1.5rem 0;
    align-self: center;
}

.home-content {
    padding: 2rem;
    width: 100%;
}

.section {
    display: grid;
    place-items: center;
}

.section.about {
    margin-top: 2.5rem;
}

.section .cards {
    margin-top: 2.5rem;
    gap: 2rem;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section h1 {
    text-align: center;
}