.header--transparent {
    padding: 1.5rem;
}

.new-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem 1.5rem;
}

.page-title {
    font-size: 1.5rem;
    margin: 1rem 0 1.5rem 0;
}

.form-container {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 1.5rem;
}

.form {
    width: 60%;
    margin-right: 2.5rem;
}

.stations-list__stations {
    overflow-y: auto;
    max-height: 20em;
}

.form__buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: end;
    align-items: center;
}

/* .form__buttons input[type=submit] {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    color: #FFFFFF;
    background-color: #117BDD;
    font-weight: 700;
    cursor: pointer;
    transition: 200ms;
    width: 100%;
} */

.form__buttons input[type=submit]:hover {
    filter: brightness(.9);
}

.form__buttons a {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 200ms;
    color: #117BDD;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.form__buttons a:hover {
    background-color: rgba(17, 123, 221, .15);
}