.stars {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: .5rem;
    gap: 1rem;
}

.star-btn {
    border: 0;
    background-color: transparent;
    color: rgba(71, 74, 79, .35) !important;
    cursor: pointer;
    text-decoration: none;
}

.star-btn--active {
    color: #117add !important;
}

.star-btn__icon {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    font-size: 40px !important;
    transition: 300ms;
}